---
layout: default
---


{% for post in paginator.posts %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="main-content" itemprop="articleBody">

<a name="blog{{ forloop.index }}"></a>

  <header class="post-header">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h3 class="post-title" itemprop="name headline">{{ post.title }}</h3> </a>

    
  </header>

   {{ page.summary | truncate:150 }}
</article>
<hr>
{% endfor %}

<div class="pagination" style="text-align: center;">

  {% if paginator.next_page %}
    <h2><a href="{{ paginator.next_page_path }}" class="next">- more posts -</a></h2>
  {% endif %}

  {% if paginator.previous_page %}
    <h2><a href="{{ paginator.previous_page_path }}" class="previous">- previous page -</a></h2>
  {% endif %}

</div>
