<!-- Remote Projects JS -->
<!-- <script src="{{ '/assets/js/remote-projects.js' | relative_url }}"></script> -->

<div class="card-columns m-4 mt-6">
    <!-- Local Projects -->
    {% assign tempMovies = site.data.documentary_movies | sort: 'year'%}

    {% for movie in tempMovies %}
    {% assign movie_year = movie.year %}
    <!-- {% assign project_type  = "local" %} -->
    {% assign movie_name    =  movie.name %}
    {% assign movie_poster   = movie.image %}
    <!-- {% assign project_desc  = project.description %} -->
    <!-- {% assign project_tools = project.tools %} -->

    <!-- {% if project.external_url %}
        {% assign project_url = project.external_url %}
      {% else %}
        {% assign project_url = project.url | relative_url %}
      {% endif %} -->

    {% include movies/movie-card.html %}

    {% endfor %}

</div>