<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ movie_url }}" class="project card text-dark">
    {% if movie_poster %}
    <img id="{{ movie_name }}-img" class="card-img-top" src="{{ movie_poster }}" alt="{{ movie_name }}" />
    {% endif %}
    <div class="card-body">
      <h5 id="{{ movie_name }}-name" class="card-title">
        {{ movie_name }}
      </h5>
      <p id="{{ movie_name }}-desc" class="card-text">{{ movie_year }}</p>
      <p id="{{ movie_name }}-tools" class="card-text">
      </p>
    </div>
  </a>
</div>