<header class="page-header">
     <h1 class="project-name"> <a class="header-link" href="{{ site.baseurl }}/"> {{ site.title }}</a></h1>
     
     <!--<h3 style="font-weight: lighter;">a blog for <a class="header-link" href="http://canijustgo.com/" target="_blank">canijustgo.com</a></h3>-->
     <!--<h3>{% if site.twitter_username %}<a class="header-link" href="http://twitter.com/{{ site.twitter_username }}" target="_blank">follow @{{ site.twitter_username }}</a></h3>{% endif %}-->
     <a href="https://www.prashantsingh.xyz" class="btn">Home</a>
     <a href="https://github.com/prashant-singh" class="btn">Github</a>
      <a href="https://www.twitter.com/_prashantsingh_" class="btn">Twitter</a>
       <a href="https://www.facebook.com/prashantsingh.xyz" class="btn">Facebook</a>
 <a href="https://www.reddit.com/user/batman_prashant" class="btn">Reddit</a>
 <a href="https://www.linkedin.com/in/kshatriyaprashant" class="btn">LinkedIn</a>
  <a href="https://in.pinterest.com/prashantbatman/" class="btn">Pinterest</a>
</header>
