<a href="https://www.facebook.com/sharer/sharer.php?u=blog.prashantsingh.xyz{{page.url}}&amp;t={{page.title}}"  class="social-share-button facebook"><i class="fa fa-facebook"> Share</i></a>
<a href="https://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{page.url}}&amp;via={{site.twitter}}"  class="social-share-button twitter"><i class="fa fa-twitter"> Tweet</i></a>
<a href="http://www.reddit.com/submit?url=blog.prashantsingh.xyz{{page.url}}&amp;t={{page.title}}"  class="social-share-button reddit"><i class="fa fa-reddit"> Post</i></a>

