<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Prashant Singh</title>
  <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" crossorigin="anonymous">

</head>

<body>

  <div id="resume">
    <header id="header" class="clear">
      <div>
        <h1 class="name">{{site.author.name}}</h1>
        <h2 class="label">{{site.author.job-title}}</h2>
      </div>

      <span class="location">
        <span class="city">{{site.author.city}},</span>
        <span class="region">{{site.author.State}},</span>
        <span class="countryCode">{{site.author.Country-Code}}</span>
      </span>


      <div id="contact">
        <div class="website">
          <span class="fas fa-external-link-alt"></span>
          <a target="_blank" target="_blank" href={{site.author.website-url}}>{{site.author.website-url}}</a>
        </div>
        <div class="email">
          <span class="far fa-envelope"></span>
          <a href="mailto:{{site.author.email}}">{{site.author.email}}</a>
        </div>
        <div class="phone">
          <span class="fas fa-mobile-alt"></span>
          <a href="tel:{{site.author.phone}}">{{site.author.phone}}</a>
        </div>
      </div>

      <div id="profiles">
        <div class="item">
          <div class="username">
            <span class="fab fa-twitter twitter social"></span>
            <span class="url"><a target="_blank"
                href="https://twitter.com/{{site.author.twitter}}">{{site.author.twitter}}</a></span>
          </div>
        </div>
        <div class="item">
          <div class="username">
            <span class="fab fa-linkedin linkedin social"></span>
            <span class="url">
              <a target="_blank"
                href="https://www.linkedin.com/in/{{site.author.linkedin}}">{{site.author.linkedin}}</a>
            </span>
          </div>
        </div>
      </div>
    </header>

    <section class="section">
      <section class="main-summary">
        <div>
          <p>Video game developer with #year#+ years of programming experience in Unity3D Engine.<br>And developed so
            many games for Android, IOS, Windows Standalone and VR Devices like HTC Vive and Oculus GO.<br>Have created
            some awesome editor scripts to make so many handy tasks easy you can checkout at my github repos.</p>
        </div>
      </section>
    </section>

    <section class="section">
      <header>
        <h2 class='section-title'>Skills<span class="item-count"> ( {{site.data.skills.size}} )</span></h2>
      </header>
      <section id="skills">
        {% for item in site.data.skills%}
        <div class="item">
          <h3 class="name">
            {{item.name}}
          </h3>
          <div class="level {{item.level | downcase}}">
            <em>{{item.level}}</em>
            <div class="bar"></div>
          </div>
          <ul class="keywords">
            {% for skillItem in item.keywords%}
            <li>{{skillItem.skill}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </section>
    </section>
    <section class="section">
      <header>
        <h2 class='section-title'>Work Experience <span class="item-count">( {{site.data.work-experience.size}} )</span></h2>
      </header>

      <section id="work">
        {% for item in site.data.work-experience%}
        <section class="work-item">

          <input id="work-item-0" type="checkbox" class="toggle-item" checked="checked" />
          <label for="work-item-0"></label>

          <header class="clear">
            <div class="position">{{item.position}}</div>
            <div class="company">{{item.company-name}}</div>
            <div class="date">
              <span class="startDate">{{item.start-date}}</span> -
              <span class="endDate">{{item.end-date}}</span>
              <span class="totalExp">{{item.totalExp}}</span>

            </div>
          </header>

          <span class="website">
            <a target="_blank" href="{{item.website}}">{{item.website}}</a>
          </span>
          <div class="item" id="work-item">
            <div class="summary">
              <p style="padding-left: 2rem;">{{item.summary}}</p>
            </div>
          </div>
        </section>
        {% endfor %}
      </section>
    </section>
    <section class="section">
      <header>
        <h2 class='section-title'>Code <span class="item-count">( {{site.data.resumeProjects.size}} )</span></h2>
      </header>

      <section id="education">
        {% for item in site.data.resumeProjects %}

        <section class="education-item">
          <header class="clear">
            <div class="header-left">
              <div class="studyType">
                {{ item.title }}
              </div>
              <div class="institution">
                {% for platformItem in item.platforms%}
                {% if platformItem.link %}
                <a class="platformLink" href="{{platformItem.link}}" target="_blank">{{platformItem.platform}}</a>
                {% else %}
                {{platformItem.platform}}
                {% endif %}
                {% endfor %}
              </div>
              <p style="padding-left: 2rem;">{{ item.description }}</p>
            </div>
          </header>
        </section>
        {% endfor %}
      </section>
    </section>

    <section class="section">
      <header>
        <h2 class='section-title'>Education <span class="item-count"></span></h2>
      </header>

      <section id="education">
        {% for item in site.data.education-details %}

        <section class="education-item">
          <header class="clear">
            <div class="header-left">
              <div class="studyType">
                {{item.course}}
              </div>
              <br>
              <div class="institution">
{{item.name}} | {{item.board}}
              </div>
            </div>
            <div class="date">
              <span class="startDate">
                {{item.started}}
              </span>
              <span class="endDate">
                - {{item.ended}}
              </span>
            </div>
          </header>

        </section>
        {% endfor %}
      </section>
    </section>

    <section class="section">
      <header>
        <h2 class='section-title'>Languages</h2>
      </header>
      <section id="languages">
        {% for item in site.data.about[0].languages %}
        <div class="display">
          <h3 class="language">
            {{item.language}}
          </h3>
          <div class="item">
            <div class="level fluency native speaker">
              <em>{{item.fluency}}</em>
            </div>
          </div>
        </div>
        {% endfor %}
      </section>
    </section>
</body>
<script type="text/javascript">
  var d = new Date();
  var n = d.getFullYear();
  var expYears = n - 2015;
  document.getElementsByClassName("main-summary")[0].innerHTML = document.getElementsByClassName("main-summary")[0].innerHTML.replace('#year#', expYears);
</script>

</html>
