<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Hongyi Zhang">
  <title>Resume Page</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
  <div id="content">
  {% block content %}
  <div class="container">
    <div class="page-header">
      <h1>{{ profile.name }}</h1>
    </div>
    {% if setting.education %}
    <div class="row">
      <div class="col-md-3">
        <h3>Education</h3>
      </div>
      <div class="col-md-9">
        <p>{{ edu.summary }}</p>
        {% for item in edu.university %}
            <h4 class="inline block">{{item.name}} <span><p style="float:right"><small>{{item.time}}</small></p></span></h4>
          <p><i class="fa fa-map-marker"></i> <small>{{item.location}}</small></p>
          <ul>
            <li>{{item.summary}}</li>
            {% if item.highlight %}
              {% for highlight in item.highlight %}
                <li>{{highlight}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>
    <hr />
    {% endif %}

    {% if setting.research %}
    <div class="row">
      <div class="col-md-3">
        <h3>Research Experience</h3>
      </div>
      <div class="col-md-9">
        {% for item in research %}
          <h4 class="inline block">{{item.name}} <span><p style="float:right"><small>{{item.time}}</small></p></span></h4>
          <p>{{item.company}} <span style="float:right"><small>{{item.location}}</small></span></p>
          <ul>
            {% if item.highlight %}
              {% for highlight in item.highlight %}
                <li>{{highlight}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>
    <hr />
    {% endif %}

    {% if setting.work %}
    <div class="row">
      <div class="col-md-3">
        <h3>Work Experience</h3>
      </div>
      <div class="col-md-9">
        {% for item in work %}
          <h4 class="inline block">{{item.name}} <span><p style="float:right"><small>{{item.time}}</small></p></span></h4>
          <p>{{item.company}} <span style="float:right"><small>{{item.location}}</small></span></p>
          <ul>
            {% if item.highlight %}
              {% for highlight in item.highlight %}
                <li>{{highlight}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>
    <hr />
    {% endif %}

    {% if setting.award %}
    <div class="row">
      <div class="col-md-3">
        <h3>Academic Honors & Awards</h3>
      </div>
      <div class="col-md-9">
        {% for item in award %}
          <h4 class="inline block">{{item.name}} <span><p style="float:right"><small>{{item.time}}</small></p></span></h4>
          <p>{{item.company}} <span><small>{{item.location}}</small></span></p>
          <ul>
            {% if item.highlight %}
              {% for highlight in item.highlight %}
                <li>{{highlight}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>
    <hr />
    {% endif %}

    {% if setting.skill %}
    <div class="row">
      <div class="col-md-3">
        <h3>Skills</h3>
      </div>
      <div class="col-md-9">
        {% for item in skill %}
          <h4>{{item.name}}</h4>
          <ul>
            {% if item.list %}
              {% for li in item.list %}
                <li>{{li}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>
    <hr />
    {% endif %}

    {% if setting.project %}
    <div class="row">
      <div class="col-md-3">
        <h3>Projects</h3>
        <p><small>Basically selected courseworks</small></p>
      </div>
      <div class="col-md-9">
        {% for item in project %}
          <h4 class="inline block">{{item.name}} <span><p style="float:right"><small>{{item.time}}</small></p></span></h4>
          <p>{{item.summary}}</p>
          <ul>
            {% if item.highlight %}
              {% for highlight in item.highlight %}
                <li>{{highlight}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        {% endfor %}
      </div>
    </div>
    <hr />
    {% endif %}



  </div>
  {% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    <div class="container text-center">
    <ul class="list-inline">
      <li><a href={{ profile.github }}><i class="fa fa-3x fa-github-alt"></i></a></li>
      <li><a href={{ profile.linkedin }}><i class="fa fa-3x fa-linkedin"></i></a></li>
      <li><a href={{ "mailto:" + profile.email }}><i class="fa fa-3x fa-envelope-o"></i></a></li>
    </ul>
    <p id='date'>Last updated time</p>
    <p>&copy; Copyright 2015 by <a href="http://zhanghongyi.github.io/">Hongyi Zhang</a>.</p>
    </div>
    {% endblock %}
  </div>
</body>
{% if setting.googleAnalytics %}
<script>
window.onload = function() {
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];;
    var date = new Date();

    document.getElementById('date').innerHTML = 'Last updated ' + months[date.getMonth()] + ' ' + date.getFullYear();
};
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52756499-1', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
</html>
